.background-image {
   background-image: url("../image/momos.avif");
   background-size: cover;
   background-repeat: no-repeat;
   /* background-attachment: fixed; */
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}